<% provide(:title, "Help") %>

  <h1>Help</h1>
<p>
  More help can be found at this site
  <a href="http://www.railstutorial.org/help">here</a>
  for information about the tutorial, and more information can be found about 
  the book <a href="http://www.railstutorial.org/book">here</a>.
</p>
